fastapi
uvicorn[standard]
langchain
langchain-community
langchain-groq
langchain-huggingface
langchain-chroma
langchain-text-splitters
langgraph
chromadb
sentence-transformers
pypdf
redis
python-dotenv
pydantic
python-multipart